@model List<LogicaNegocio.Cliente>
@{
    ViewData["Title"] = "Index";
}
<p>@TempData["Mensaje"]</p>
<h1>Listado de clientes</h1>
@if (Model != null && Model.Count > 0)
{
    <table>
        <thead>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Saldo</th>
        <th>Cargar saldo</th>
        </thead>
        <tbody>
            @foreach (LogicaNegocio.Cliente cliente in Model)
            {
                <tr>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Apellido</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.Saldo</td>
                    <td><a href="/Cliente/Edit/@cliente.Id">Cargar saldo</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No existen clientes en el sistema</p>

}
