
@{
    ViewData["Title"] = "Index";
    string tipoDeUsuario = Context.Session.GetString("logged-user-type");
}

@if (tipoDeUsuario == "Cliente" && @ViewBag.Cliente != null)
{
    <div class="d-flex justify-content-center align-items-center">
        <img src="~/placeholder.webp" class="me-3 d-inline" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;" />
        <h1 class="d-inline">Mi perfil</h1>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Saldo</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.Cliente.Nombre</td>
                <td>@ViewBag.Cliente.Apellido</td>
                <td>@ViewBag.Cliente.Email</td>
                <td>@ViewBag.Cliente.Saldo</td>
                <td>
                    <a asp-controller="Cliente" asp-action="Edit">Cargar saldo</a>
                </td>
            </tr>
        </tbody>
    </table>
}
else if (tipoDeUsuario == "Administrador")
{
    <h1>Listado de clientes</h1>
    @if (ViewBag.ListaCliente != null && ViewBag.ListaCliente.Count > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Saldo</th>
            </tr>
            </thead>
            <tbody>
                @foreach (LogicaNegocio.Cliente cliente in ViewBag.ListaCliente)
            {
                <tr>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Apellido</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.Saldo</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No existen clientes en el sistema</p>
    }
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
else if (TempData["Exito"] != null)
{
    <div class="alert alert-success">
        @TempData["Exito"]
    </div>
}
