@model List<LogicaNegocio.Publicacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de publicaciones</h1>
@if (Model != null & Model.Count > 0)
{
    
    <table>
        <thead>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Precio</th>
        <th>Acción</th>
        </thead>

        <tbody>
            @foreach (LogicaNegocio.Publicacion publicacion in Model)
            {
                <tr>
                    <td>@publicacion.Nombre</td>
                    <td>@publicacion.Estado</td>
                    <td>@publicacion.Precio()</td>
                
                    @if (publicacion is LogicaNegocio.Subasta subasta)
                    {
                        <td><a href="/Subasta/Edit/@subasta.Id">Agregar oferta</td>
                    }
                    else if (publicacion is LogicaNegocio.Venta venta)
                    {
                        <td><a href="/Venta/Edit/@venta.Id" name="IdVenta">Comprar</td>
                    }
                </tr>
            }
        </tbody>
    </table>
   
}
else
{
    <p>No hay publicaciones en el sistema</p>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
else if (TempData["Exito"] != null)
{
    <div class="alert alert-success">
        @TempData["Exito"]
    </div>
}

