@model List<LogicaNegocio.Publicacion>
@{
    ViewData["Title"] = "Index";
}

<h1>Publicaciones</h1>
@if (Model != null & Model.Count > 0)
{
    <table class="table">
        <thead>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Precio</th>
            <th>Acción</th>
        </thead>
        <tbody>
        @foreach (LogicaNegocio.Publicacion publicacion in Model)
        {
                    <tr>
                        <td>@publicacion.Nombre</td>
                        <td>@publicacion.Estado</td>
                        <td>@publicacion.Precio() USD</td>
                    @if (publicacion is LogicaNegocio.Venta && publicacion.Estado.Trim().ToUpper() == "ABIERTA")
                    {
                        <td><a href="/Venta/Edit?id=@publicacion.Id">Comprar</a></td>
                    }
                    else if(publicacion is LogicaNegocio.Subasta && publicacion.Estado.Trim().ToUpper() == "ABIERTA")
                    {
                        <td><a href="/Subasta/Edit?id=@publicacion.Id">Ofertar</a></td>
                    }
                    </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No hay publicaciones en el sistema</p>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
else if (TempData["Exito"] != null)
{
    <div class="alert alert-success">
        @TempData["Exito"]
    </div>
}
else if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensaje"]
    </div>
}
