
@{
    ViewData["Title"] = "Edit";
}

@model LogicaNegocio.Subasta
<h1>Cerrar subasta</h1>
<form method="post">
    <input type="text" value="@Model.Id" name="IdSubasta" readonly />
    <br />
    <label>Nombre</label>
    <input type="text" value="@Model.Nombre" name="Nombre" readonly />
    <br />
    <label>Estado</label>
    <input type="text" value="@Model.Estado" name="Estado" readonly />
    <br />
    <label>Precio</label>
    <input type="number" value="@Model.Precio()" name="Precio" readonly />
    <br />
    <label>Fecha de publicacion</label>
    <input type="text" value="@Model.FechaPublicacion" name="FechaDePublicacion" />
    <br />
    <label>Tipo</label>
    <input type="text" value="Subasta" name="Tipo" />
    <br />
    <input type="submit" value="Cerrar subasta" />
</form>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
else if (TempData["Exito"] != null)
{
    <div class="alert alert-success">
        @TempData["Exito"]
    </div>
}
